<div class="position-static">
  
    <nav class="navbar navbar-dark bg-dark text-align:center">
      <button class="navbar-toggler" type="button" >
        <span style="font-size: 25px ; text-align: center;">Portfolio App</span>
      </button>
    </nav>
  
  </div>
  
  <div class="container mt-4 w-30 text-align:center">
    
    <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
      <div class="form-group pt-3 text-align:center">
        <label for="exampleInputEmail1"> Email address</label>
        <input type="email" formControlName="uemail"  class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Enter your email id.</small>
      </div>
      <div class="form-group mt-5 text-align:center">
        <label for="exampleInputPassword1"> Password </label>
        <input type="password" formControlName="upassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <small id="emailHelp" class="form-text text-muted">Enter your Password.</small>
      </div >
      <div class="text-center">
        <button type="submit" class="btn btn-danger ">Submit</button>
  
      </div>
        </form>
  </div>