<div class="container-fluid">
    <div class="row">
    
        <div class="col-md-4 mt-3 mb-2">
            <h3 class="text-success text-center"><b>Welcome </b></h3>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">Sign up </h5>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" >
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name" >
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" >
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Mobile Number</label>
                    <input type="number" class="form-control" id="mobile" placeholder="Mobile Number" name="mobile">
                </div>
                  <div class="form-floating mb-3">
                    <label for="floatingPassword">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" >
                  </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="button" (click)="signup()" >Register</button>
                  </div>

                  <a routerLink="/" class="text-primary" style="text-decoration: none;">Log In ? </a>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>