<div class="position-static">
  
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" >
        <span style="font-size: 30px ;">Portfolio App, Welcomes You !</span>
      </button>
    </nav>
  
  </div>
<div>
  <div  style="text-align:center; width: 30%">
   </div>
    
    <div id="form" style="text-align: center; width: 40%">
        <div style="text-align: center; font-size: 30px; background-color:lavender;" >Fill the details in the form we will make portfolio </div>

        <form >

           
          <div class="form-group pt-7 text-center">
            <label for="exampleInputEmail1"> First Name</label>
            <input type="text" formControlName="uemail"  class="form-control" id="exampleInputEmail1" placeholder="First Name">
          </div>
          <div class="form-group text-center" >
            <label for="exampleInputPassword1">  Last Name</label>
            <input type="text" formControlName="upassword" class="form-control"  placeholder="Last Name">
          </div >

         

          <div class="form-group text-center">
            <label for="exampleInputEmail1">  Email</label>
            <input type="text" formControlName="uemail"  class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
          </div>

          <div class="form-group  text-center">
            <label for="exampleInputEmail1">  Phone Number</label>
            <input type="text" formControlName="uemail"  class="form-control" id="exampleInputEmail1"  placeholder=" Enter Phone Number">
          </div>

          <div class="form-group text-center">
            <label for="exampleInputEmail1">  College</label>
            <input type="text" formControlName="uemail"  class="form-control" id="exampleInputEmail1"  placeholder="Enter College">
          </div>

          <div class="form-group text-center">
            <label for="exampleInputEmail1">  Current Organization</label>
            <input type="text" formControlName="uemail"  class="form-control" id="exampleInputEmail1"  placeholder="Enter Current Organization">
          </div>
          <br>
          <div class="text-center text-center">
            <button (click)="Submits()" class="btn btn-danger ">Submit</button>
          </div>
            </form>
      </div>
  
</div>