<p>binding works!</p>
<h1>Print JSON Data</h1>

<br>
<table class="table table-striped table-bordered bg-info">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Available</th>
            <th>Ratings</th>
        </tr>
    </thead>
    <tbody>
        <!--NgDirective eg: *ngFor-->
        <tr *ngFor="let p of products">
            <td [class.inStock]="true" [style.font-weight]="we">{{p.name}}</td>
            <td  [class.inStock]="true"[style.font-weight]="we" >{{p.price}}</td>
            <td [class.inStock]="true"[style.font-weight]="we">{{p.available}}</td>
            <td [class.inStock]="true"[style.font-weight]="we">{{p.ratings}}</td>
          
        </tr>
    </tbody>
</table>
<h2>Let's Bind the data from source to view using Interpolation</h2>

<hr>


<p>{{name}}</p>
<h2>Let's Bind the data from source to view using property Binding: [] : bind the data with attribute</h2>

<a [href]="url">Google</a>
<div class="container">
    <button class="btn btn-danger" (click)="show()">Show </button>

    <div *ngIf="flag" style="background-color: plum;">
        You Have Successfully Implememneted EVENT BINDING
    </div>
</div>
